<div class="container" id="app">
  <header class="header">
    <!-- <div class="box container"> -->
  <nav class="navbar navbar-container navbar-expand-sm navbar-dark">
    <ul class="navbar-nav">

      <!--   Public part   -->
      <div class="public-navbar">
        <div class="public-navbar-main">
          <li class="nav-item public-navbar-main-li">
            <a href="#" class="logo-container navbar-brand">
              <div>
                <img class="home-logo" src="../assets/image/starterok_logo_200b.png" alt="logo">
              </div>
            </a>
            <a class="nav-link personal-companies-link" routerLink="main" routerLinkActive="active">
              Головна
            </a>
            <a href="#" class="nav-link personal-companies-link" routerLinkActive="active">
              Послуги
            </a>
            <a class="nav-link personal-companies-link" routerLink="registration" routerLinkActive="active">
              Online запис
            </a>
            <a class="nav-link personal-companies-link" routerLink="contacts" routerLinkActive="active">
              Контакти
            </a>
          </li>
        </div>
      </div>
      <!--   Public part end   -->
    </ul>

  </nav>
<!-- </div> -->
</header>


  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <img class="home-logo" src="../assets/image/starterok_logo_200b.png" alt="logo">
      </div>
      <div class="footer-column">
        Станція технічного обслуговування "Стартерок"
        м.Харків, пр.Ювілейний, 182
        авторинок "Барабашово"
      </div>
      <div class="footer-column">
        <a class="footer-link" href="tel:+380504023744">+380504023744</a>
        <a class="footer-link" href="tel:+380673041744">+380673041744</a>
      </div>
    </div>
<!--        <span>All Rights Reserved 2022</span>-->
  </footer>
</div>
