.navbar-container {
  justify-content: center;
  background-color: rgb(255, 255, 84);
}

.public-navbar {
  width: 100%;
}

.public-navbar-main {
  align-items: center;
  width: 100%;
  flex-direction: row;
  display: flex;
}

.public-navbar-main-li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: row;
}

.home-logo {
  width: 200px;
  height: 33px;
}

.personal-companies-link {
  width: 120px;
}

.nav-link {
  height: 40px;
  width: 160px;
  color: black !important;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  align-items: center;
  text-align: center;
}
.active {
  text-decoration: underline;
  /*color: #206acf !important;*/
}
.nav-item {
  width: 100%;
}




.footer {
  padding: 20px 111px 20px 111px;
  background-color: rgb(255, 255, 84);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.footer-column {
  flex-basis: 30%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.footer-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 33px;
}
.footer-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: table;
  color: #000;
  position: relative;
  margin: 0 0 15px;
  text-decoration: none;
  cursor: pointer;
  margin-left: auto;
}
