.main-container {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  background-image: url("../../../assets/image/background-main.jpg");
  background-repeat: no-repeat;
}
/* 
.main-container .column-left {
  flex: 40%;
  max-width: 40%;
  margin-top: auto;
  margin-bottom: auto;
} */
/* .main-container .column-right {
  flex: 60%;
  max-width: 60%;
  padding: 0 4px;
  margin-top: auto;
  margin-bottom: auto;
} */

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  max-width: 1166px;
  height: 100%;
  margin: 0 auto;
}

.promo .promo__links {
  position: absolute;
  float: right;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 302px;
  height: 83px;
  background: #D9D9D9;
}

.promo .promo__links a {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

.promo .promo__links a::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 0.3s;
}

.promo .promo__links a:hover::after {
  width: 100%;
}

.divider {
  margin: 0 6px;
  height: 20px;
  width: 2px;
  background: #000000;
}

h1 {
  display: inline-block;
  margin: 420px 0 0 0;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  text-shadow: 0 0 3px #0f0f0f;
  width: 200px;
}

.services {
  padding-bottom: 33px;
  position: relative;
  margin-top: 66px;
}
.card__list{
  position: relative;
}
.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}

.card__list .card__item {
  position: relative;
  width: 271px;
  height: 317px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.13);
  border-radius: 33px;
  transition: all 0.3s;
  background-color: #FFFFFF;
}

.submit {
  display: none;
  margin-top: 15px;
  justify-content: center;
}

.submit img {
  width: 76px;
  height: 76px;
}

.active {
  display: flex;
}


@media (hover: hover) {
  .card__list .card__item:hover {
      box-shadow: 1px 6px 60px rgb(255, 255, 84);
  }

  .card__list .card__item:hover .card__icon {
      background: rgb(255, 255, 84);
  }

  .offers__list .offers__item:hover {
      box-shadow: 1px 2px 60px rgba(255, 247, 0, 0.89);
  }

  .offers__list .offers__item:hover .offers__icon {
      background: rgba(255, 247, 0, 0.89);
  }

  .card__tooltips:hover::before{
      opacity: 1;
      visibility: visible;
  }
  
  .distribution .distribution__form .distribution__submit:hover {
      background: rgb(255, 154, 1);
  }
}
.card__list .card__item .card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 33px 33px 0 0;
  background: rgba(125, 127, 201, 0.58);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 188px;
  transition: all 0.3s;
}

.card__list .card__item .card__title {
  margin: 0 auto;
  width: 240px;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #000000;
}

.card__list .services__active-item {
  box-shadow: 1px 6px 60px rgba(19, 234, 28, 0.7);

}

.card__list .services__active-item .card__title {
  font-weight: 800;
}

.card__list .card__item .services__active-icon {
  background: rgba(19, 234, 28, 0.58);
}
.next {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}

.next img {
  width: 60px;
  height: 60px;
}

.card__tooltips{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  z-index: 2;
}

.card__wrapper {
  position: relative;
}

.card__tooltips:before{
  display: block;
  position: absolute;
  bottom: 55px;
  left: -400%;
  margin-left: -100px;
  text-align: center;
  padding: 10px;
  width: 400px;
  max-height: 1000px;
  color: #000000;
  background: rgba(207, 207, 207, 0.9);
  box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.5);
  /* font-size: 20px; */
  content: attr(data-title);
  box-sizing: border-box;
  border-radius: 10px;

  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  

  visibility: hidden;
  opacity: 0;

}
.card__tooltips:hover::before{
  opacity: 1;
  visibility: visible;
}

.distribution {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 108px auto 52px auto;
  align-items: center;
  padding: 28px 14px 30px 14px;
  width: 543px;
  height: 518px;
  background: #D9D9D9;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: all 0.3s;
}

.distribution .distribution__title {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  line-height: 160%;
  color: #000000;
}

.distribution .distribution__form {
  display: flex;
  flex-direction: column;
  width: 445px;
  margin-top: 30px;
}

.distribution .distribution__form .distribution__input {
  padding: 0 15px;
  font-size: 26px;
  height: 84px;
  background: #D3C3C3;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: none;
  margin-bottom: 31px;
}

.distribution .distribution__form .distribution__input::placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  line-height: 84px;
  color: #7F7272;
}

.distribution .distribution__form .distribution__submit {
  cursor: pointer;
  height: 84px;
  background: rgba(255, 153, 0, 0.75);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  border: none;
  font-weight: 400;
  font-size: 38px;
  color: #FFFFFF;
  margin-bottom: 22px;
  transition: all 0.3s;
}

.distribution .distribution__not-now {
  font-weight: 400;
  font-size: 28px;
  color: #000000;
  text-decoration: none;
}

.distribution .distribution__tooltips {
  font-size: 24px;
}

.distribution__tooltips:before {
  width: 457px;
  bottom: 65px;
}

.subscribe {
  display: inline-block;
  margin: 50px 0 65px 0;
  font-weight: 400;
  font-size: 28px;
  color: #000000;
  text-decoration: none;
}

.subscribe::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 0.3s;
}

.subscribe:hover::after {
  width: 100%;
}

.distribution__not-now::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 0.3s;
}

.distribution__not-now:hover::after {
  width: 100%;
}

.closed {
  display: none;
}

.card__list .card__item .offers__icon {
  background: rgba(237, 229, 34, 0.58);
}

.offers__list {
  gap: 55px 115px;
  margin-bottom: 54px;
}

.offers__tooltips::before {
  width: 200px;
  left: 50%;
}


.personal .personal__info {
  display: inline-flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 118px;
  margin: 309px 50px 0 40px;
  width: 80%;
  height: 536px; 
  background: rgba(166, 153, 153, 0.29);
  border-radius: 60px;
}

.personal .personal__info .personal__text {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 50%;
}

.personal .personal__info .personal__text .personal__name, .personal__phone, .personal__auto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 4px 4px #000000;
  border-radius: 10px;
  font-weight: 400;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.4);
}

.my-services {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 659px;
  background: rgb(255, 255, 255);
  transition: all 0.5s;
}

.my-services .my-services__title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;
  background: rgba(116, 209, 204, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.my-services__list {
  gap: 60px 125px;
  align-items: center;
  min-height: calc(100% - 144px);
  /* overflow-y: scroll; */
  padding: 40px;
}

.item {
  width: 300px;
  height: 300px;
  background-color: #13EA1C;
}

.card__list .card__item .my-services__icon {
  background: rgba(116, 209, 204, 0.58);
}

.open-btn {
  cursor: pointer;
  position: absolute;
  bottom: 120%;
  right: 1%;
  background: none;
  border: none;
  transform: rotate(180deg);
  transition: all 0.5s;
}

.my-services__tooltips::before {
  font-weight: 700;
  font-size: 32px;
  padding: 40px;
  width: 330px;
}

.phone-title {
  display: none;
}

@media screen and (max-width: 1200px) { 

  .container {
      max-width: 1100px;
  }

  h1 {
      margin: 254px 0 60px 70px;
      display: inline-flex;
  }

  .promo {
      height: 500px;
  }

  .promo .promo__links {
      width: 290px;
      height: 70px;
  }

  .promo .promo__links a {
      font-size: 18px;
  }

  .card__list .card__item {
      width: 223px;
      height: 245px;
      border-radius: 33px;
  }

  .card__list .card__item .card__icon {
      height: 140px;
  }

  .card__list .card__item .card__icon img {
     width: 80px;
     height: 80px;
  }

  .card__list .card__item .card__title {
      width: 90%;
      font-size: 15px;
  }
  .card__tooltips{
      margin-top: 7px;
      margin-right: 7px;
  }
  .card__tooltips img{
      width: 90%;
  }
  .card__tooltips:before{
      width: 380px;
      font-size: 14px;
  }

  .distribution__tooltips:before {
      width: 350px;
      left: -150%;
      font-size: 18px;
  }

  .distribution .distribution__title {
      font-size: 30px;
  }

  .distribution .distribution__form {
      width: 400px;
  }

  .distribution .distribution__form .distribution__input {
      height: 60px;
  }

  .distribution .distribution__form .distribution__submit {
      height: 60px;
      font-size: 28px;
      width: 350px;
      margin: 0 auto 22px auto;
  }

  .distribution .distribution__not-now {
      font-size: 24px;
  }

  .distribution {
      width: 500px;
      height: 330px;
      margin: 68px auto 68px auto;
  }

  .offers__tooltips::before {
      width: 200px;
      font-size: 16px;
  }

  .personal .personal__info {
      height: 400px;
  }

  .my-services__tooltips::before {
      font-weight: 700;
      font-size: 28px;
      padding: 40px;
      width: 300px;
      left: -330%;
  }
}

@media screen and (max-width: 1024px) {
  .card__list .card__item {
      width: 203px;
      height: 225px;
  }

  .card__list .card__item .card__icon {
      height: 130px;
  }

  .card__list .card__item .card__icon img {
     width: 73px;
     height: 73px;
  }

  .card__list .card__item .card__title {
      font-size: 14px;
  }

  .submit img {
      width: 66px;
      height: 66px;
  }
  .card__tooltips{
      margin-top: 8px;
      margin-right: 3px;
  }
  .card__tooltips img{
      width: 80%;
  }
  .card__tooltips:before{
      width: 335px;
      font-size: 14px;
  }

  .distribution__tooltips:before {
      width: 350px;
      left: -150%;
      font-size: 18px;
  }

  .offers__tooltips::before {
      width: 200px;
      font-size: 16px;
  }

  .personal .personal__info .personal__text .personal__name, .personal__phone, .personal__auto {
      font-size: 35px;
  }

  .my-services .my-services__title {
      font-size: 30px;
  }

  .my-services__tooltips::before {
      left: -250%;
      font-size: 22px;
      width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .promo {
      height: 400px;
  }

  .promo .promo__links {
      width: 290px;
      height: 55px;
  }

  .promo .promo__links a {
      font-size: 16px;
  }


  h1 {
      margin: 154px 0 60px 70px;
  }

  .card__list .card__item {
      width: 163px;
      height: 185px;
  }

  .card__list .card__item .card__icon {
      height: 102px;
  }

  .card__list .card__item .card__icon img {
     width: 57px;
     height: 57px;
  }

  .card__list .card__item .card__title {
      font-size: 12px;
  }

  .card__tooltips{
      width: 35px;
      height: 35px;
      margin-top: 9px;
      margin-right: 3px;
  }

  .card__tooltips:before{
      padding: 5px;
      width: 210px;
      font-size: 11px;
      left: -140%;
  }

  .submit {
      margin-top: 23px;
  }

  .personal .personal__info {
      gap: 70px;
  }

  .personal .personal__info .personal__image img {
      width: 240px;
      height: 240px;
  }

  .my-services__tooltips::before {
      left: -120%;
      font-size: 18px;
      width: 200px;
      padding: 20px;
  }

  .my-services__list {
      gap: 0px 35px;
      padding: 20px;
  }
}

@media screen and (max-width: 420px) {
  .promo {
      height: 178px;
  }
  
  h1 {
      margin: 54px 0 60px 0;
      width: 100%;
      justify-content: center;
      font-size: 32px;
  }

  .promo .promo__links {
      width: 290px;
      height: 39px;
      left: 50%;
      bottom: -10%;
      transform: translateX(-50%);
  }

  .promo .promo__links a {
      font-size: 14px;
  }

  .services {
      margin-top: 31px;
  }

  .card__list .card__item {
      width: 133px;
      height: 155px;
      border-radius: 33px;
  }

  .card__list .card__item .card__icon {
      height: 88px;
  }

  .card__list .card__item .card__icon img {
     width: 47px;
     height: 47px;
  }

  .card__list .card__item .card__title {
      width: 100%;
      font-size: 10px;
  }
  .card__tooltips{
      width: 32px;
      height: 32px;
  }

  .card__tooltips:before{
      width: 255px;
      font-size: 10px;
      left: -185%;
      bottom: 45px;
  }
  .card__tooltips:focus::before{
      opacity: 1;
  }

  .personal .personal__info {
      flex-direction: column-reverse;
      background: none;
      width: 100%;
      padding: 0;
  }

  .personal .personal__info .personal__text {
      width: 75%;
  }

  .open-btn {
      display: none;
  }

  .personal {
      min-height: 1500px;
  }

  .personal .personal__info {
      margin: 0;
  }

  .my-services__list {
      margin-top: 5px;
      overflow-y: scroll;
      height: 250px;
  }

  .personal .personal__info .personal__text .personal__name, .personal__phone, .personal__auto {
      font-size: 28px;
  }

  .my-services .my-services__title {
      font-size: 28px;
  }

  .phone-title {
      display: block;
      margin: 84px 0 84px 0;
  }

  .phone-title {
      font-weight: 800;
      font-size: 32px;
      line-height: 160%;
      color: #FFFFFF;
      text-transform: uppercase;
  }

  .my-services__tooltips::before {
      left: -20%;
      font-size: 14px;
      width: 150px;
      padding: 14px;
  }

  .my-services__list {
      padding-top: 50px;
  }
}


.slogan {
  background-color: rgb(255 255 84 / 70%);
  border-radius: 20px;
}

.btn-online-registration {
  background-color: rgb(255 255 84);
  border-radius: 10px;
}
