<div class="container">
    <div class="main-container">
        <div class="column-left">
            <button class="btn-online-registration">Online запис</button>
        </div>
    <div class="column-right">
    <h1 class="slogan">Для свого автомобіля тільки найкраще!
      Найкраще обслуговування, запчастини та майстри.
      І все це є на StarterOK.
    </h1>
    </div>
</div>
  <section class="services">
      <div class="card__list">
          <div class="card__wrapper">
              <div class="card__tooltips"
                  data-title="Диагностика поломки на высокоточном европейском оборудовании
                  Под компьютерной диагностикой понимают процесс считывания спецкодов неисправностей и ошибок с ключевых транспортных узлов. Компьютерная диагностика позволяет обнаруживать и считывать даже небольшие изменения в работе двигателя, трансмиссии, приборной спецпанели. Проведенная на качественном оборудовании диагностика поможет максимально точно обозначить проблему, для того, чтобы ее быстро и эффективно устранили специалисты своего профиля."
                  tabindex="1" >
                  <img src = "../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/computer.svg" alt="computer">
                  </div>
                  <div class="card__title">
                      Диагностика поломки на высокоуровневом европейском оборудовании
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips"
                  data-title="Ремонт предполагает полную разборку двигателя с учетом его снятия с автомобиля. Поршневые кольца, вкладыши, как правило, так же меняются при полной разборке. Работы по капитальному ремонту двигателя выполняется при критическом износе деталей ДВС, который привел к повреждению цлиндров, постелей и другихэлементов ДВС в результате чего двигатель заклинило или не проворачивается коленвал - работа двигателя невозможна."
                  tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/gears.svg" alt="gears">
                  </div>
                  <div class="card__title">
                      Ремонт<br />двигателя
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips"
                  data-title="Понять, что ходовка требует помощи мастера, можно по нарушению её работы и нехарактерном шуме в процессе езды. Стоит понимать, что этот узел состоит из множества деталей, и если хоть одна из них выйдет из строя, то это влечёт нарушение в работе всей системы. Поэтому нельзя игнорировать тревожные сигналы, обязательно"
                  tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/car.svg" alt="car">
                  </div>
                  <div class="card__title">
                      Ремонт<br />ходовой
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips"
                  data-title="Ремонт предполагает полную разборку двигателя с учетом его снятия с автомобиля. Поршневые кольца, вкладыши, как правило, так же меняются при полной разборке. Работы по капитальному ремонту двигателя выполняется при критическом износе деталей ДВС, который привел к повреждению цлиндров, постелей и другихэлементов ДВС в результате чего двигатель заклинило или не проворачивается коленвал - работа двигателя невозможна."
                  tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/engine.svg" alt="engine">
                  </div>
                  <div class="card__title">
                      Капитальный<br />ремонт ДВС
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips"
                  data-title="Основные неисправности, характерные для МКПП:
                  При переключении или во время работы КП издает посторонний шум;
                  Трудное переключение передачи;
                  Отсутствие возможности включить передачу или же всех сразу;
                  Передачи выключаются (вылетают) самостоятельно;
                  Протечка масла, понижение уровня масла в коробке.
                  Все неисправности Вы можете починить в АвтоHelp. При проведении планового ТО и ремонтамонта необходимы специальные инструменты и механизма которые позволят выполнить ремонт. Автосервис обладает этим всем. Плюс ко всему, даже малейшая ошибка в процессе ремонта и настройки приведет к непоправимым последствиям, а в случае с МКПП к фатальным, поскольку это очень сложная система."
                  tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/transmission.svg" alt="transmission">
                  </div>
                  <div class="card__title">
                      Капитальный ремонт МКПП
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips" data-title="Кондиционер автомашины - это агрегат, который создает и поддерживает внутри авто выбранный климат.
                  Это оборудование, как и прочее, нужно вовремя обслуживать. Для поддержания в деятельном виде нужно время от времени дозаправлять кондиционер автомашины, чистить механизм кондиционирования, а еще прочие процессы, которые предотвращают его неисправность в дальнейшем.
                  " tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/gears.svg" alt="gears">
                  </div>
                  <div class="card__title">
                      Заправка кондиционера
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips"
                  data-title="Диагностика поломки на высокоточном европейском оборудовании
              Под компьютерной диагностикой понимают процесс считывания спецкодов неисправностей и ошибок с ключевых транспортных узлов. Компьютерная диагностика позволяет обнаруживать и считывать даже небольшие изменения в работе двигателя, трансмиссии, приборной спецпанели. Проведенная на качественном оборудовании диагностика поможет максимально точно обозначить проблему, для того, чтобы ее быстро и эффективно устранили специалисты своего профиля."
                  tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/bulb.svg" alt="bulb">
                  </div>
                  <div class="card__title">
                      Замена<br />лампочек
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips"
                  data-title="Смена смазочной жидкости мотора, замена масляного фильтра (обычного или для дизеля — тонкой и грубой очистки), промывка силового агрегата при необходимости. Все эти операции выполняются при проведении обслуживания автомобиля. Стоит отметить, что смена моторного масла в движке может быть плановая или внеплановая."
                  tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/oil.svg" alt="oil">
                  </div>
                  <div class="card__title">
                      Замена масла<br />ДВС
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips"
                  data-title="Сварочные работы заключаются в восстановлении изношенных деталей наплавкой металла, сварке деталей, заварке трещин в рамах грузовых автомобилей, крыльях и металлической облицовке кузова."
                  tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/welding.svg" alt="welding">
                  </div>
                  <div class="card__title">
                      Сварочный работы
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips"
                  data-title="Диагностика поломки на высокоточном европейском оборудовании
                  Под компьютерной диагностикой понимают процесс считывания спецкодов неисправностей и ошибок с ключевых транспортных узлов. Компьютерная диагностика позволяет обнаруживать и считывать даже небольшие изменения в работе двигателя, трансмиссии, приборной спецпанели. Проведенная на качественном оборудовании диагностика поможет максимально точно обозначить проблему, для того, чтобы ее быстро и эффективно устранили специалисты своего профиля."
                  tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/computer_check.svg" alt="computer_check">
                  </div>
                  <div class="card__title">
                      Диагностика компьютерная
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips" data-title="Диагностика ходовой части автомобиля включает в себя проверку состояния колес и шин, амортизаторов, развал-схождение, состояние подвески передней и задней, подшипников ступиц. После пробега в 10-15 тыс. км., при неравномерном износе шин, выполняют балансировку колес.
                  " tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/diagnosis.svg" alt="diagnosis">
                  </div>
                  <div class="card__title">
                      Диагностика<br />ходовой части
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips"
                  data-title="Тормозные колодки — это расходник. За время службы колодки не только сильно стачиваются, но и неоднократно перегреваются, отчего материал, из которого они сделаны, твердеет, теряя свои свойства. Соответственно, колодки хуже выполняют свою функцию, машина хуже тормозит."
                  tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/brake.svg" alt="brake">
                  </div>
                  <div class="card__title">
                      Замена<br />тормозных<br />колодок
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips"
                  data-title="Диагностика поломки на высокоточном европейском оборудовании
              Под компьютерной диагностикой понимают процесс считывания спецкодов неисправностей и ошибок с ключевых транспортных узлов. Компьютерная диагностика позволяет обнаруживать и считывать даже небольшие изменения в работе двигателя, трансмиссии, приборной спецпанели. Проведенная на качественном оборудовании диагностика поможет максимально точно обозначить проблему, для того, чтобы ее быстро и эффективно устранили специалисты своего профиля."
                  tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/brake2.svg" alt="brake2">
                  </div>
                  <div class="card__title">
                      Замена тормозной жидкости
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips"
                  data-title="Промывка топливной системы, сама по себе способна устранить многие недостатки указываемые мотор – тестером и исключить ошибки, выдаваемые сканером. Начнём с того, что часть вопросов, возникающих после диагностики на приборах, просто исчезнут сами собой, достаточно просто промыть топливную систему."
                  tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="./../../../../assets/image/services/oil2.svg" alt="oil2">
                  </div>
                  <div class="card__title">
                      Промывка<br />топливной системы
                  </div>
              </div>
          </div>
          <div class="card__wrapper">
              <div class="card__tooltips"
                  data-title="Для правильной работы системы охлаждения современного автомобиля требуется около 10 л охлаждающей жидкости. Сегодня, существует два наиболее распространённых вида охлаждающей жидкости: тосол и антифриз. По мнению автомобильных экспертов, наиболее подходящим является второй вид охлаждающей жидкости."
                  tabindex="1" >
                  <img src="../../../../../assets/image/services/info.svg" alt="info">
              </div>
              <div class="card__item">
                  <div class="card__icon">
                      <img src="../../../../../assets/image/services/antifreeze.svg" alt="antifreeze">
                  </div>
                  <div class="card__title">
                      Замена охлаждающей жидкости
                  </div>
              </div>
          </div>
      </div>