/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/material.css';
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

/* /reset css/ */

p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul{
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* /containers/ */

.container {
  width: 100%;
  margin: 0px auto;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 480px) and (max-width: 767px) {
      max-width: 480px;
  }

  @media (min-width: 768px) and (max-width: 1199px){
      max-width: 768px;
  }
  @media (min-width: 1200px) and (max-width: 1600px){
      max-width: 1200px;
  }
}