<div class="contacts-container">
  <div>
    Станція технічного обслуговування "Стартерок"
    м.Харків, пр.Ювілейний, 182
    авторинок "Барабашово"
  </div>
  <div>
    <a class="footer-link" href="tel:+380504023744">+380504023744</a>
    <a class="footer-link" href="tel:+380673041744">+380673041744</a>
  </div>
</div>
